<div class="container">
<br>
<br>

<div class="parrafo">
  <h3 class="interior" translate>
  Terms of Use</h3>
  <br/>
  <div class="interior">

  <p translate>Your participation implies that scientific researchers associated with Ibercivis will have access to the data you provide. Those data will be anonymized and will be used only for scientific research using statistics, mathematical models and graphic visualizations. Your email address will be only used for a uses strictly related with the citizen science project. </p>
  <p translate>The system will ask you to fulfill the questionnaire of personal data. When registering, you accept that those personal data are included in a file own by Ibercivis to be used only for research purposes. No data will be transfered to any third party. You can modify or cancel these terms of use by sending an email to info@ibercivis.es, or by sending a postal mail to Fundación Ibercivis, Calle Mariano Esquillor s/n, 50018, Zaragoza.</p>
<br>
  </div>

</div>

</div>
